@-ms-viewport {
  width: device-width;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #000;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 500;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1eaedb;
}
a:hover {
  color: #0fa0ce;
}

/* Custom CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Hero Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
  height: 100vh;
}

.hero-parallax {
  animation: colorchange 50s infinite;
  -webkit-animation: colorchange 50s;

  background-image: url("../assets/hero1.gif");

  /* Full height */
  height: 100vh;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  color: #fff;
  text-decoration: none;
}

.scroll {
  position: absolute;
  top: 100vh;
  transform: translateY(-100%);
  width: 50px;
}

@keyframes colorchange {
  0% {
    background: #00a8b5;
  }
  25% {
    background: #774898;
  }
  50% {
    background: #e62a76;
  }
  75% {
    background: #84f2d6;
  }
  100% {
    background: #2b3595;
  }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% {
    background: #00a8b5;
  }
  25% {
    background: #774898;
  }
  50% {
    background: #e62a76;
  }
  75% {
    background: #fbb901;
  }
  100% {
    background: #84f2d6;
  }
}

.banner {
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 999;
  background: #000;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logo {
  grid-column: 1;
  align-self: center;
}

.heading {
  grid-column: 2;
  text-align: right;
  text-transform: uppercase;
  display: grid;
  align-items: center;
  justify-items: right;
  margin: 0;
}

@media (max-width: 900px) {
  .banner {
    display: block;
    height: fit-content;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }
  .heading {
    text-align: left;
    display: block;
  }
}

/* Begin Container and Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  width: 97.5%;
  margin: auto;
}

@media (min-width: 1400px) {
  .container {
    max-width: 2200px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 2rem;
  background: #000;
}

.project {
  position: relative;
  padding: 30% 0;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(1rem);
  transition: all 0.3s ease-in-out;
}

.overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transform: translateY(0);
}

.project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background: #000;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
}

.foot-content {
  margin: 2.5%;
  color: grey;
  text-align: center;
}
